# Firebase Configuration
# These are usually provided by the AI Studio environment
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Discord Webhook
DISCORD_WEBHOOK_URL=
VITE_DISCORD_GAME_WEBHOOK=

# Admin Moderation
ADMIN_SECRET_TOKEN=
VITE_ADMIN_SECRET_TOKEN=
PUBLIC_APP_URL=

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=dnh5pdtqd
CLOUDINARY_API_KEY=887335194175876
CLOUDINARY_API_SECRET=CRvMkWHW4hFv5TExMmY8q9G_33g
